:root {
  --main-bg-color: #eff5fe;
}

body,
html {
  font-family: system-ui;
  background: var(--main-bg-color);
  height: 100%;
  padding: 10;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 25px;
  font-weight: bold;
  color: #03a9f4;
  margin-bottom: 20px;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .heading {
    font-size: 20px;
  }
}
